/* NavBar */
.color_navbar{
    background-color: #1c5994;
    border-bottom: rgba(23, 142, 189, 0.533) solid 2px !important;
}
.input-search{
    width: 400px!important;
}
.navbar-brand{
    font-size: 1.5rem!important;
    margin-left: 20px;
    color: steelblue!important;
    text-shadow:  2px 2px 1px white;
}
.span_logo{
    font-weight: bold;
    background-color: white;
    color: steelblue;
    padding: 10px;
    border-radius: 20px 10px ;
    margin-right: 10px;
    text-shadow:  1px 4px 4px #1c5994;
}
/* home picture */
.home_picture{
    height: 350px;
    background-image:linear-gradient(rgba(78, 173, 228, 0.2),rgba(0, 0, 0, .2)), url('../images/cover1.jpeg');
    background-position: bottom;
    background-size: cover;
    background-origin: content-box;
    background-attachment: fixed;
}

.background-text{
    padding-top: 40px;
    padding-left: 50px;
    text-shadow:  1px 1px 4px #1c5994;
}
.text-color{
    color: #df8927;
}
.background-text strong , .course_text strong{
    color: #0e457c;
}
.background-text p:nth-child(1){
    font-style: italic;
    font-size: 3rem;
    margin-bottom: 0;
}
.background-text p:nth-child(2){
    font-size: 1.5rem;
    margin-top: 0;
}

.btn-primary{
    background-color: #1c5994!important;
    border-color: #1c5994;
}
/*************** carousel *************/

.carousel {
    background-color: #031629;
}
.text-decoration h2 a{
    text-decoration: none;
}
.course-card{
    padding-left: 300px;
    margin-top: 10px;
}
.course_text {
    margin-left: -20px;
    margin-right: 350px;
    padding-top: 80px;
}
.course_reasume{
    margin-top: 20px;
    padding-left: 150px;
}

.course figure{
    margin: 0;
    padding: 0;
}
.carousel-item .course .col-sm{
    background: #4e7785;
}
.course .col-sm{
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}
.course .col-sm-4{
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
}
figure img{
    width: 400px;
    opacity: .5;
    transition: all 1s ease-in-out;
    margin-left: -15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
figure img:hover{
    width: 400px;
    opacity: 1;
}

.controls-top{
    position: relative;
}
.controls-top .left-arrow{
    position: absolute;
    margin-left: 120px;
    top: 180px;
    padding: 20px 25px ;
    z-index: 1000;
    border-radius: 60%;
    background: #b4d0da;
    transition: all 1s ease-out;
}
.controls-top .right-arrow{
    position: absolute;
    right: 150px;
    top: 180px;
    padding: 20px 25px ;
    z-index: 1000;
    border-radius: 60%;
    background: #c9e0e7;
    transition: all 1s ease-out;
}
.controls-top .left-arrow:hover , .controls-top .right-arrow:hover{
    background: #0f5066;
    color: white;
}
/**************** track-course **************/
.track-title{
    background: #1c5994;
}
.track-course img{
    width: 100%;
}
.track-head{
    font-weight: bold;
    color: rgb(226, 233, 238);
    padding: 3px;
    border-radius:20px 10px 20px 10px ;
    margin-right: 10px;
    box-shadow: 2px 4px 4px #f0f4f8;
}
.course-head{
    font-weight: bold;
    color: rgb(12, 91, 148);
    padding: 3px;
    border-radius:20px 10px 20px 10px ;
    margin-right: 10px;
    box-shadow: 2px 4px 4px #f0f4f8;
}

.track-name{
    color: #031629;
}

.course .card img{
    width: 347px;
    height: 231px;
}
.course .card-title a{
    text-decoration: none;
}
